@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="~/Register/Reg" method="post">
            用户名：<input type="text" name="userName" />
            密&nbsp;&nbsp;：<input type="text" name="userPwd" />
            <input type="submit" value="sub" />
        </form>
    </div>
</body>
</html>
