@model IEnumerable<Model.CityServiceInfo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/jquery-3.1.1.min.js"></script>
    <script src="~/bootstrap.js"></script>
    <link href="~/bootstrap.css" rel="stylesheet" />
    <link href="~/PagedList.css" rel="stylesheet" />
    <title>SreviceInfo</title>
</head>
<body>
<h2>城市服务信息</h2>
    <table class="table table-bordered" >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceInfo)
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>@item.Id</td>
            <td>@item.ServiceInfo</td>

        </tr>
    }
    
    </table>
</body>
</html>
